/* Regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}

/*#region header  */

header{
    background-color: lightskyblue;
}

header nav{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.main_menu li{
    padding-left: 1rem;
    text-decoration: none;
}


/*#endregion header */

/*#region main  */



/*#endregion main */


/*#region colonne */

.col_4{
    width: calc((100% / 12) *4);
}

.col_8{
    width: calc((100% / 12) *8);
}

/*#endregion colonne  */

/*#region responsive */

@media screen and (min-width: 768px) {
    .col_md_4{
        width: calc((100% / 12) *4);
    }

    .col_md_8{
        width: calc((100% / 12) *8);
    }
    
}

@media screen and (min-width: 1200px) {
    .col_lg_4{
        width: calc((100% / 12) *4);
    }
    .col_lg_6{
        width: calc((100% / 12) *6);
    }

}

/*#endregion responsive  */